<div>
  <signup></signup>

  <div class="row">
  	<div class="col-xs-12">
  		Are you living in Thailand? Planning a trip to Thailand and want to arrange to meet some friends before you set off? ThaiLoveFinder has thousands of active members, whether you're seeking friendship or love our community will give you a big welcome!

  		We're not what you would consider a dating agency. Our service is aimed at creating interactions among our members. We let you choose to interact with - we do try to provide you with relevant matches however nobodies perfect so the control is ultimately in your hands!

  		Our platform is free, you can chat, comment, like, love and interact with other members freely without any restrictions. We do also provide premium features that give you wider coverage on our website and makes it more likely to meet other members. This isn't required and you're welcome to use our service for free, forever!
  	</div>
  </div>

  <display-users-grid title="Take a look at our most recently active users!" :users="users"></display-users-grid>
</div>
