<div>
  <form>

    <h5 class="text-primary my-2">Let others know about your job and education status. This information will appear on your profile page.</h5>

    <div class="form-group" :class="[ errors.has('education') ? 'has-danger' : 'has-success' ]">
      <label class="form-control-label" for="user_education">Education</label>
      <multiselect
        :value="education"
        :options="options_education"
        @input="updateEducation">
      </multiselect>
    </div>

    <div class="form-group" :class="[ errors.has('job') ? 'has-danger' : 'has-success' ]">
      <label class="form-control-label" for="user_job">Your Job</label>
      <input 
        v-model="job" 
        v-validate.initial="job" 
        data-rules="max:20" 
        type="text" 
        class="form-control" 
        :class="[ errors.has('job') ? 'form-control-danger' : 'form-control-success' ]"
        id="user_job">
      <p class="text-danger" v-show="fields.failed('job')">Please only use up to 20 characters!</p>
    </div>

    <div class="form-group" :class="[ errors.has('salary') ? 'has-danger' : 'has-success' ]">
      <label class="form-control-label" for="user_salary">Salary (in baht)</label>
      <input 
        v-model="salary" 
        v-validate.initial="salary" 
        data-rules="numeric|max:20" 
        type="text" 
        class="form-control" 
        :class="[ errors.has('education') ? 'form-control-danger' : 'form-control-success' ]"
        id="user_salary">
      <p class="text-danger" v-show="fields.failed('salary')">This field must contain numbers only!</p>
    </div>

    <button type="submit" v-on:click="submit" class="btn btn-primary">Submit</button>
  </form>
</div>