<div>
	<div class="row"> <!--search element -->
		<div class="col-xs-12 my-2 text-primary">
			<h2 >I'm looking for...</h2>
			<form>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 has-success">
						<label for="search_country">Gender</label>
						<multiselect
							:value="search_params.gender"
							:options="options.gender"
							@input="updateGender">
						</multiselect>
					</div>
	<!-- 				<div class="col-xs-12 col-sm-6 col-md-4">
						<label for="search_education">Education</label>
						<multiselect
							:value="search_params.education"
							:options="options.education"
							@input="updateEducation">
						</multiselect>
					</div> -->
					<div class="col-xs-12 col-sm-6 col-md-4">
						<label for="search_country">Country</label>
						<multiselect
							:value="search_params.country"
							:options="options.country"
							@input="updateCountry">
						</multiselect>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<label for="search_min_age">Minimum Age</label>
						<input type="number" v-model="search_params.min_age" min="16" max="120" class="form-control" id="search_min_age">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<label for="search_min_age">Maximum Age</label>
						<input type="number" v-model="search_params.max_age" min="16" max="120" class="form-control" id="search_max_age">
					</div>
				</div>

				<div class="row mt-1">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<label class="custom-control custom-checkbox" for="search_params_have_children">
							<input v-model="search_params.have_children" type="checkbox" class="custom-control-input" id="search_params_have_children">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Has children? (leave blank for none)</span>
						</label>
					</div>
				</div>

				<button type="submit" class="btn btn-primary right" v-on:click="submit">Search</button>
			</form>
		</div>
	</div><!-- end search element -->

	<display-users-grid title="Results" :users="users"></display-users-grid>
</div>